<!-- <div class="container">  
    <form id="contact" action="" method="post">
      <h3>Work Assign</h3>
      <fieldset>
        <input placeholder="File Name" type="text" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
        <input placeholder="Your Email Address" type="email" tabindex="2" required>
      </fieldset>
      <fieldset>
        <button (click)="onDecrement()" class="btn btn-danger"><i class="fa fa-minus"></i></button><input placeholder="Your Phone Number" value="presentvalue" [(ngModel)]="presentvalue" type="number" name="number" tabindex="3" required><button (click)="onIncrement()" class="btn btn-success"><i class="fa fa-plus"></i></button>
      </fieldset>
      <fieldset>
        <input placeholder="Your Web Site starts with http://" type="url" tabindex="4" required>
      </fieldset>
      <fieldset>
        <textarea placeholder="Type your Message Here...." tabindex="5" required></textarea>
      </fieldset>
      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
      </fieldset>
    </form>
   
    
  </div> -->

  <section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-white">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <h1 class="display-4 py-2 text-truncate">Center my form.</h1>
                    <div class="px-2">
                        <form action="" class="justify-content-center">
                            <div class="form-group">
                                <label class="sr-only">Employee Name</label>
                                <input type="text" class="form-control" placeholder="Jane Doe" name="employeename">
                            </div>
                            <div class="form-group">
                                <label class="sr-only">File Name</label>
                                <input type="text" class="form-control" placeholder="jane.doe@example.com" name="filename">
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span type="submit" class="input-group-text" (click)="onDecrement()"><i class="fa fa-minus"></i></span>
                              </div>
                              <input type="text" class="form-control" value="presentvalue" [(ngModel)]="presentvalue" name="receiptcount">
                              <div class="input-group-append">
                                <span type="submit" class="input-group-text" (click)="onIncrement()"><i class="fa fa-plus"></i></span>
                              </div>
                            </div>
                          <div class="form-group">
                            <label class="sr-only">Date</label>
                            <input type="date" class="form-control" placeholder="Jane Doe" name="workassigneddate">
                        </div>
                          <button type="submit" class="btn btn-primary btn-lg">Launch</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>