<section id="cover" class="min-vh-100">
  <div id="cover-caption">
    <div class="container">
      <div class="row text-white">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
          <h1 class="display-4 py-2 text-truncate">Work Assign.</h1>
          <div class="px-2">
            <form action="" class="justify-content-center">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-file"></i>
                  </span>
                </div>
                <input type="text" class="form-control">
              </div>
              <div class="form-group" >
                <label class="sr-only">Employee Name</label>
                <ng-autocomplete [data]="data" [searchKeyword] = "keyword">
                </ng-autocomplete>
                <input type="text" class="form-control" placeholder="Enter Username" name="employeename">
              </div>
              <div class="form-group">
                <label class="sr-only">File Name</label>
                <input type="text" class="form-control" placeholder="jane.doe@example.com" name="filename">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span type="submit" class="input-group-text" (click)="onDecrement()"><i
                      class="fa fa-minus"></i></span>
                </div>
                <input type="text" class="form-control" value="{{presentvalue}}" [(ngModel)]="presentvalue"
                  name="receiptcount">
                <div class="input-group-append">
                  <span type="submit" class="input-group-text" (click)="onIncrement()"><i class="fa fa-plus"></i></span>
                </div>
              </div>
              <div class="form-group">
                <label class="sr-only">Date</label>
                <input type="date" class="form-control" placeholder="Jane Doe" name="workassigneddate">
              </div>
              <button type="submit" class="btn btn-primary btn-lg">Launch</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>